@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300;400&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

:root{
    --primary-color: #1a406b;
    --dark-primary-color:#19375a;
    --bg-color: #dddddd;
    --white-color : #fff;

    --lite-bg-color: #8dc0fa; 
    --pink-color: #BD5D78;
    --extra-orange-color: #EF836D;
    --complimentary-blue-color: #1AB3B3;
    --teal: #008080;
    --dark-blue-color: #333258;

    --danger-color: red;
    --dark-danger-color:#d42f2f;
    --span-bg-color : #b3d2f5;
    --hover-color : #b3d2f5;
    --label-color: #E67A00;
    --outline-color : #00b594;

}

html{
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    align-items: center;
    height: 4rem;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    z-index: 2;
    position: fixed;
}

.nav .logo{
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
}

.nav .links{
    display: flex;
    margin-left: 3rem;
    gap: 45rem;
    font-size: 1.3rem;
}

.nav .bars{
    display: none;
}

.nav .links a{
    text-decoration: none;
    color: var(--white-color);
}

.home-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

    gap: 6.4rem;
    gap: 6.2rem;

    height: 100vh;
}

.home-page img{
    height: 22rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.content h2{
    font-size: 3rem;
    color: var(--primary-color);
}

.content p {
    font-size: 1.2rem;
}

.content a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: fit-content;
    padding: 1rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: .6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.3rem;
}

.content a:hover{
    background-color: #112c4b; 
}

/* component page */

.components-container{
    display: flex;
    padding: 0 10rem;
}

.sideBar{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-top: 3rem;
    position: fixed;
    top: 4rem;
    font-size: 1.2rem;
    width: 12rem;
}

.sideBar div{
    font-weight: 600;
    color: var(--primary-color);
}

.sideBar a{
    text-decoration: none;
    color: var(--primary-color);
    padding-left: .6rem;
    border-radius: .4rem;
    height: max-content;
}

.sideBar a:hover{
    background-color: var(--hover-color);
    font-weight: 600;
}

.sideBar a:active{
    font-weight: 600;
}

.components{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 12rem;
    width: 100%;
}

h1{
    color: var(--primary-color);
    font-size: 2rem;
}

.section{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-behavior: smooth;
    min-height: 80vh;
}


.github-link{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (max-width:1285px){
    .nav .logo{
        margin-left: 2rem;
    }

    .nav .links{
        margin-left: 5rem;
        gap: 41rem;
    }

    .home-page-container{
        padding: 0 2rem;
    }

    /* components page */

    .components-container{
        padding: 0 2rem;
    }
}

@media screen and (max-width:1120px){
    .nav .links{
        margin-left: 5rem;
        gap: 35rem;
    }

    .home-page{
        gap: 0;
    }

    .home-page img{
        height: 22rem;
    }
}

@media screen and (max-width:1000px){
    .nav .links{
        margin-left: 5rem;
        gap: 25rem;
    }

    .home-page img{
        height: 20rem;
    }

    .content h2{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:872px){
    .nav .links{
        margin-left: 3rem;
        gap: 18rem;
    }

    .home-page img{
        height: 19rem;
    }

    .content h2{
        font-size: 2.3rem;
    }

    .content p{
        font-size: 1.1rem;
    }

    .content a{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:730px){
    .nav .links{
        margin-left: 2rem;
        gap: 13rem;
    }

    .home-page img{
        height: 16rem;
    }

    .content h2{
        font-size: 2.2rem;
    }

    .content p{
        font-size: 1.1rem;
    }

    .content a{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:630px){
    .nav .links{
        margin-left: 2rem;
        gap: 8rem;
    }

    .home-page img{
        height: 15rem;
    }

    .content h2{
        font-size: 2.1rem;
    }
}

@media screen and (max-width:550px){
    .github-link{
        display: none;
    }

    .nav .links{
        margin-left: 7rem;
    }
     
    .home-page{
        flex-direction: column;
        margin-top: 5rem;
    }
}

@media screen and (max-width:480px){
    .nav{
        position: fixed;
    }

    .nav .bars{
        display: block;
        margin-left: 2rem;
        font-size: 2rem;
        margin-top: 6px;
    }
    .nav .logo{
        margin-left: 11rem;
    }

    .nav .github-link{
        display: none;
    }

    .nav .links{
        margin-left: 6rem;
    }

    .home-page img{
        height: 14rem;
    }
     
    .home-page{
        flex-direction: column;
        margin-top: 5rem;
    }

    .sideBar {
        z-index: 2;
        background-color: var(--primary-color);
        align-items: flex-start;
        width: 50%;
        top: 1rem;
        gap: 15px;
        height: 100%;
        padding: 2rem 1.5rem;
        box-shadow: 2px 0 10px 4px rgba(0,0,0,0.1) ;
        transition: left .3s ease-in;
        transition: right .3s ease-in;
    }

    .sideBar a{
        color: var(--white-color);
    }

    .sideBar div{
        color: var(--white-color);
    }

    .components-container{
        margin: 0;
        padding: 0;
    }

    .components{
        margin: 0 1rem;
    }
    
    .home-link{
        display: none;
    }

    .close-btn{
        font-size: 2rem;
        margin-left: 2rem;
    }

    .res-doc-link{
        text-decoration: none;
        color: var(--white-color);
        font-size: 1.2rem;
        margin-left: 2rem;
    }


.nextPageLink{
    display: flex;
    justify-content: flex-end;
}


.section h1{
    font-size: 2rem;
    color: var(--primary-color);
}

.section h2{
    font-size: 1.7rem;
}

.section-para{
    margin: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;

}

.section p span{
    background-color: var(--span-bg-color);
    border-radius: 5px;
    padding: 0.1rem;

}