@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300;400&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --primary-color: #1a406b;
    --hover-color: #0bf;
    --bg-color: #dddddd;
    --white-color : #fff;
}

.nav{
    display: flex;
    align-items: center;
    height: 5rem;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
}

.nav .logo{
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.nav .links{
    display: flex;
    margin-left: 3rem;
    gap: 30px;
    font-size: 1.3rem;
}

.nav .links a{
    text-decoration: none;
    color: var(--primary-color);
}

.home-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    height: 88vh;
}

.home-page img{
    height: 22rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h2{
    font-size: 3rem;
    color: var(--primary-color);
}

.content p {
    font-size: 1.2rem;
}

.content a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: fit-content;
    padding: 1rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.3rem;
}

.content a:hover{
    background-color: #112c4b; 
}

/* component page */

.components-container{
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-areas: 'sideBar components';
    padding: .5rem 10rem;
}

.sideBar{
    grid-area: sideBar;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 2rem;
    position: fixed;
    font-size: 1.2rem;
}

.sideBar div{
    font-weight: 600;
    color: var(--primary-color);
}

.sideBar a{
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 10px;
}

.sideBar a:hover{
    background-color: var(--bg-color);
    height: max-content;
    border-radius: 6px;
}


.components{
    grid-area: components;
}