#badge-container p span{
    background-color: #b3d2f5;
    border-radius: 5px;
    padding: .1rem;
}

.icons{
    display: flex;
    gap: 40px;
    padding: 1rem 2rem;
}

.icon i{
    font-size: 3.5rem;
}

.icon span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    padding: .8rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: relative;
    bottom: 4rem;
    left: 2.5rem;
}

.discord-icon {
    color: #738ADB;
}

.messanger-icon{
    color: #006AFF;
}


.badge-container-iframe1{
    height: 30rem;
    width: 50rem;
}

.badge-container-iframe2{
    height: 28rem;
    width: 34rem;
}

@media screen and (max-width:480px){
    .badge-container-iframe1{
      min-height: 35rem;
      height: auto;
      width: auto;
      overflow: scroll;
    }

    .badge-container-iframe2{
        min-height: 35rem;
        height: auto;
        width: auto;
        overflow: scroll;
      }
  }

.status-avatar-iframe{
    width: 1024px; 
    height: 502px; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.icon-badge-iframe{
    width: 538px; 
    height: 447px; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

