
.usage-container h1{
    font-size: 2rem;
}

.usage-container p{
    font-size: 1.2rem;
}

.usage-container-iframe{
    width: 60rem; 
    height: 15rem; 
    border:0; 
    transform: scale(1); 
    overflow:scroll;
}

@media screen and (max-width:480px){
  .usage-container-iframe{
    min-height: 16rem;
    height: auto;
    width: auto;
    overflow: scroll;
  }
}